<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superman.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
   <application
        android:label="Superman"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Needed for Flutter -->
        <meta-data android:name="flutterEmbedding" android:value="2" />
    </application>
</manifest>
